
body {
    margin: 0;
    padding: 0;
    line-height: 150%;
    background-color: lightsteelblue;
}

header {

    background-color: #555 ;
    color: white;
    text-align: center
    

}

header h1 {
    font-size: 20px;
    padding: 20px ; 
    border: 5px solid burlywood;
    
    
}

#main-bio,
#contact-info,
#bio-image {
float: left;
}

#main-bio {

width: 50%;    
float: left;


}

#contact-info {
width: 20%;
border: 5px solid black;
margin: 30px;
float: right;
background-color: lightgreen;
padding: 20px;

}

#bio-image {
width: 200px;
height: 200px;
margin-right: 30px;
margin-left: 10px;
}

h2 {

    margin-left: 10px;
    
}

p{
   
}
h3{
    text-align: center;
}


ul { display:table; margin:0 auto;}

